body {
  background-color: #3b4252;
  color: #eceff4;
}

header {
  color: #eceff4;
}

.left-img {
  background-color: #4c566a;
}

.right-form {
  background-color: #434c5e;
}

#expense-validation-check {
  display: none;
}

#save-validation-check {
  display: none;
}

.btn-primary {
  background-color: #2e3440;
}

.btn-primary:hover {
  background-color: #304663;
}
