body {
  background-color: #3b4252;
  color: #eceff4;
}

header {
  color: #eceff4;
}

.left-img {
  background-color: #4c566a;
}

.right-form {
  background-color: #434c5e;
}

.btn-primary{
  background-color: #2E3440;
}